<div
  class="post-card"
  (keydown)="onKeyDown($event)"
  (keypress)="onKeyPress($event)"
  (keyup)="onKeyUp($event)"
>
  <div class="post-card-content">
    <span class="post-timestamp">
      <!-- {{ post.timestamp | date: "HH:mm" }} -->
      {{ post.timestamp.toDate() | date: 'HH:mm' }}
    </span>
    <mat-card
      (mouseenter)="hovering = true"
      (mouseleave)="hovering = false"
      class="post-body"
      contentEditable="true"
    >
      <div class="post-content">{{ post.body }}</div>
      <fa-icon *ngIf="hovering" [icon]="faPencilAlt"></fa-icon>
    </mat-card>
  </div>
</div>
