@import "../../../fonts.scss";
.post-card {
  margin-top: 10px;
}

.post-card-content {
  display: flex;
  font-size: 1.2rem;
  line-height: 2rem;

  .post-body {
    font-family: $font-secondary;
    vertical-align: middle;
    flex: 1 1 auto;
    height: 100%;
    &:focus {
      outline: 0px solid transparent;
    }
  }

  .post-timestamp {
    vertical-align: middle;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
    padding-right: 7pt;
    padding-top: 19px;
    padding-left: 3pt;
    color: rgba(0, 0, 0, 0.6);
  }
}
