<mat-toolbar class="menu-account-info">
  <mat-toolbar-row class="username">
    <h1>Rai</h1>
  </mat-toolbar-row>
  <mat-toolbar-row class="avatar" style="height: 100px; text-align: center;"
    ><img
      src="/assets/img/logo/emblem/passion-round.svg"
      height="100%"
      style="display: block; margin: 0 auto;"
  /></mat-toolbar-row>
  <mat-toolbar-row class="experience">
    <div class="level">Level <span class="user-level">10</span></div>
    <span class="level-xp-separator">-</span>
    <div class="xp">
      <span class="user-xp">420</span>/<span class="level-xp">1337</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
