<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    position="end"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <app-menu-account-info></app-menu-account-info>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <app-navigation></app-navigation>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of links"
        (click)="setActive(link.name)"
        [active]="activeLink == link.name"
      >
        <fa-icon [icon]="link.icon"></fa-icon>
        <span class="tab-nav-bar-label">{{ link.name }}</span>
      </a>
      <div style="flex: 1 1 auto;"></div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        style="padding-right: 10px;"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </nav>

    <div class="content-container">
      <app-add-post></app-add-post>
      <app-post-list></app-post-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
